nav {
    background-color: #fff;
    width: 100%;
    max-width: 100%;
}

nav img {
    width: 93%;
}

nav a {
    color: #a82d49 !important;
    text-transform: uppercase;
    font-size: 15px;
    letter-spacing: 1px;
    padding: 0.5rem 1rem !important;
    font-weight: 500 !important;
}

#Lastnav {
    border: 3px solid #a82d49;
    background-color: #a82d49;
    color: #fff !important;
    transition: all 0.4s ease;
}

#Lastnav:hover {
    background-color: #fff;
    color: #a82d49 !important;
}